.register{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: 'Noto Sans', sans-serif;
}

.register .title{
    width: 100%;
    margin-bottom: 20px;

}

.register .title span{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    border-radius: 10px;
    padding: 10px;
}

.register .form-register{
    height: 100%;
    width: 220px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

