{% extends 'user/base.html' %}

{% block title %}
    <title>TopTik - Вход в аккаунт</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/user/login.css">
{% endblock %}

{% block content %}
    <div class="login-register">

        <div class="form-login">
            <div class="title">
                <span><b>Вход</b></span>
            </div>
            <form class="login" method="post">

                {% csrf_token %}
                <input type="email" placeholder="Введите email" name="email" required>
                <input type="password" placeholder="Введите пароль" name="password" required>
                <button type="submit" class="btn-login">Войти</button>
            </form>
        </div>
        <div class="form-register">
            <div class="title">
                <span><b>Регистрация</b></span>
            </div>
            <form class="register" method="post">
                {% if error1 %}
                <div class="error">{{error1}}</div>
                {% elif error %}
                    <div class="error">{{error}}</div>
                {% else %}
                    <div class="err">Введите имя пользователя</div>
                {% endif%}
                {% csrf_token %}
                <input type="text" placeholder="Введите имя" name="username" required>
                <button type="submit" class="btn-register">Далее</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/login.js"></script>
{% endblock %}