{% extends 'user/base.html' %}

{% block title %}
<title>TopTik - Аккаунт</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/user/profile.css">
{% endblock %}

{% block content %}
{% if text_none %}
<div class="text-none">{{ text_none }}</div>
{% else %}
{% for pr in prof %}
<div class="profile">
    <div class="top-profile-info">
        <div class="profile-img">
            <img src="{{pr.avatar.url}}">
        </div>
        <div class="profile-info">
            <div class="profile-name">@{{pr.name}}</div>
            <div class="profile-sex">{{pr.sex}}</div>
            <div class="profile-like">Лайки{% if user_like.count > 0 %}: {{ user_like.count }}
                {% endif %}
            </div>
            {% if user.identifier == pr.identifier %}
            {% else %}

            <div class="profile-add-friend"></div>
            {% endif %}
        </div>
        {% if user.identifier == pr.identifier %}
            <div class="profile-update">Редактировать</div>
        {% endif %}
    </div>
    <div class="profile-data">
        <div class="tit-prof-p-f-v">
            <div class="btn btn-post">Посты{% if user_post.count > 0 %}:
                {{ user_post.count }}
                {% else %}
                0
                {% endif %}
            </div>
            <div class="btn btn-photo">Фото{% if pr.check_user_photo.count > 0 %}:
                {{ pr.check_user_photo.count }}
                {% else %}
                0
                {% endif %}
            </div>
            <div class="btn btn-subscriptions">Подписки{% if pr.check_user_subscriptions.count > 0 %}:
                {{ pr.check_user_subscriptions.count }}
                {% else %}
                0
                {% endif %}
            </div>
            <div class="btn btn-subscribers">Подписчики{% if pr.check_user_subscribers.count > 0 %}:
                {{ pr.check_user_subscribers.count }}
                {% else %}
                0
                {% endif %}
            </div>
        </div>
        <div class="profile-photo-friend-video">
            <div class="profile-post">
                {% for post in user_post %}
                <div class="user-post">
                    <img loading="lazy" src="{{post.img.url}}">
                    <div class="user-post-like">{{ post.post_like.count }}</div>
                </div>
                {% empty %}
                <div class="hot-user-post">Постов нет</div>
                {% endfor %}
            </div>
            <div class="profile-photo">
                {% for photo in pr.check_user_photo %}
                <div class="user-photo">
                    <img loading="lazy" src="{{photo.photo.url}}">
                    <div class="user-photo-like"></div>
                </div>
                {% empty %}
                <div class="hot-user-photo">Фотографий нет</div>
                {% endfor %}
            </div>
            <div class="profile-subscriptions">
                {% for friend in pr.check_user_subscriptions %}

                {% empty %}
                <div class="hot-user-photo">Подписок нет</div>
                {%endfor%}
            </div>
            <div class="profile-subscribers">
                {% for friend in pr.check_user_subscribers %}

                {% empty %}
                <div class="hot-user-photo">Подписчиков нет</div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block js %}
<script src="/static/js/profile.js"></script>
{% endblock %}