{% extends 'user/base.html' %}

{% block title %}
<title>TopTik - Вход в аккаунт</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/user/register.css">
{% endblock %}

{% block content %}
<div class="register">
    {% if error %}
    <div class="error-div">{{ error }}</div>
    {% endif %}
    <form method="post" action="" class="form-register">
        <div class="title">
            <span><b>Регистрация</b></span>
        </div>
        {% csrf_token %}
        <div class="step-1">
            <label class="name">{{ label_name|truncatechars:11 | default:"Hi man!" }}</label>
            {{ register_form.name }}
            {{ register_form.email }}
            <div class="btn-next-1">Далее</div>
        </div>
        <div class="step-2">
            {{ register_form.password1 }}
            {{ register_form.password2 }}
            <div class="btn-st2">
                <div class="btn-back-1">Назад</div>
                <div class="btn-next-2">Далее</div>
            </div>
        </div>
        <div class="step-3">
            <img class="users-avatar" src="/media/users/ava.png" alt="">
            <div class="download-photo">
                <label class="input-avatar_label" for="id_avatar">
                    <svg fill="black" width="20px" height="20px" viewBox="0 0 612.675 612.675">
                        <path d="M581.209,223.007L269.839,530.92c-51.592,51.024-135.247,51.024-186.839,0c-51.592-51.023-51.592-133.737,0-184.761
                                            L363.248,69.04c34.402-34.009,90.15-34.009,124.553,0c34.402,34.008,34.402,89.166,0,123.174l-280.249,277.12
                                            c-17.19,17.016-45.075,17.016-62.287,0c-17.19-16.993-17.19-44.571,0-61.587L394.37,161.42l-31.144-30.793L114.144,376.975
                                            c-34.402,34.009-34.402,89.166,0,123.174c34.402,34.009,90.15,34.009,124.552,0l280.249-277.12
                                            c51.592-51.023,51.592-133.737,0-184.761c-51.593-51.023-135.247-51.023-186.839,0L36.285,330.784l1.072,1.071
                                            c-53.736,68.323-49.012,167.091,14.5,229.88c63.512,62.79,163.35,67.492,232.46,14.325l1.072,1.072l326.942-323.31
                                            L581.209,223.007z"/>
                    </svg>
                    <span>Выберите файл</span>
                </label>
                {{ register_form.avatar }}
            </div>
            <div class="sex">Пол: {{ register_form.sex }}</div>
            <div class="btn-back-2">Назад</div>
            <button type="submit">Продолжить</button>
        </div>

    </form>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/register.js"></script>
{% endblock %}